
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

  .beachListContainer {
    margin-top: .3em;
    margin-bottom: .3em;
  }

  .cardRepeat * {
    text-align: center;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 1em;
  }

  .buttonRow {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #loading-bar .bar {
    position: relative;
  }

  .loading-bar-container {
    margin-top:.5em;
    margin-bottom: .3em;
  }